Plano de ensino.pdf

venv/
Lista_1/library.bib
Lista_1/Estilo.sty
Lista_1/Lista_1.Rmd
Lista_1/logo-UnB.eps
Lista_1/logo-UnB-eps-converted-to.pdf
Lista_1/assets/
Lista_1/dados/

Lista_2/Lista_2.Rmd
Lista_2/Lista_2.log
Lista_2/lista2.sqlite

Lista_3/datasus
Lista_3/parquets
Lista_3/csvs
Lista_3/2016_2020
Lista_3/Lista_3.Rmd
Lista_3/Lista_3.log

logs/
derby.log